TestWebService/Connected Services/ServiceReference1/FileBinaryTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buff" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LstPhones" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubmitPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AfterPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FormKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remindType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWechatMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWechatMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendWechatMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveFileSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFile" />
  </wsdl:message>
  <wsdl:message name="SaveFileSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFileResponse" />
  </wsdl:message>
  <wsdl:message name="SendWechatMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendWechatMessage" />
  </wsdl:message>
  <wsdl:message name="SendWechatMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendWechatMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="FileBinaryTransferSoap">
    <wsdl:operation name="SaveFile">
      <wsdl:input message="tns:SaveFileSoapIn" />
      <wsdl:output message="tns:SaveFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWechatMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送微信提醒</wsdl:documentation>
      <wsdl:input message="tns:SendWechatMessageSoapIn" />
      <wsdl:output message="tns:SendWechatMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileBinaryTransferSoap" type="tns:FileBinaryTransferSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveFile">
      <soap:operation soapAction="http://tempuri.org/SaveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWechatMessage">
      <soap:operation soapAction="http://tempuri.org/SendWechatMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileBinaryTransferSoap12" type="tns:FileBinaryTransferSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveFile">
      <soap12:operation soapAction="http://tempuri.org/SaveFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWechatMessage">
      <soap12:operation soapAction="http://tempuri.org/SendWechatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileBinaryTransfer">
    <wsdl:port name="FileBinaryTransferSoap" binding="tns:FileBinaryTransferSoap">
      <soap:address location="http://www.lianshi.gov.cn:6295/jianchawei/FileBinaryTransfer.asmx" />
    </wsdl:port>
    <wsdl:port name="FileBinaryTransferSoap12" binding="tns:FileBinaryTransferSoap12">
      <soap12:address location="http://www.lianshi.gov.cn:6295/jianchawei/FileBinaryTransfer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>